<div class="calendar-container">
    <div class="calendar">
        <div class="calendar-headline">
            <div class="calendar-headline-month">
                {{fistDayOfActiveMonth().monthLong}},
                {{fistDayOfActiveMonth().year}}                
            </div>
            <div class="calendar-headline-controls">
                <div class="calendar-headline-control"><<</div>
                <div class="calendar-headline-control calendar-headline-control-today ">Bugün</div>
                <div class="calendar-headline-control">>></div>
            </div>
        </div>
        <div class="calendar-weeks-grid">
            @for(days of weekDays(); track $index){
                <div class="calendar-weeks-grid-cell">{{days}}</div>
            }
        </div>
        <div class="calendar-grid">
            @for (dayOfMonth of daysOfMonth(); track $index) {
                <div [ngClass]="{'calendar-grid-cell': true, 
               
            'calendar-grid-cell-active':
              activeDay()?.toISODate() === dayOfMonth.toISODate(),
            'calendar-grid-cell-inactive':
              dayOfMonth.month !== fistDayOfActiveMonth().month

                }" (click)="activeDay.set(dayOfMonth)">{{dayOfMonth.day}}</div>
            }
        </div>
    </div>
    <div class="schedule">
        <div class="schedule-headline">
            @if (activeDay(); as activeDay) {
                <div>{{ activeDay.toLocaleString(DATE_MED) }}</div>
              } @else {
                <div>Please select a day</div>
              }
            </div>
            <div>
              @if (activeDay() && activateDayMeetings().length === 0) {
                <div>No Planned Meetings today</div>
              }
        
              @if (activeDay() && activateDayMeetings().length > 0) {
                @for (meeting of activateDayMeetings(); track $index) {
                  <div>{{ meeting }}</div>
                }
              }
        
        </div>
    </div>
</div>
