<div class="calendar-container">
    <div class="calendar">
        <div class="calendar-headline">
            <div class="calendar-headline-month">
                {{fistDayOfActiveMonth().monthShort}},
                {{fistDayOfActiveMonth().year}}                
            </div>
            <div class="calendar-headline-controls">
                <div class="calendar-headline-control"><<</div>
                <div class="calendar-headline-control calendar-headline-control-today ">Bugün</div>
                <div class="calendar-headline-control">>></div>
            </div>
        </div>
        <div class="calendar-weeks-grid">
            @for(days of weekDays(); track $index){
                <div class="calendar-weeks-grid-cell">{{days}}</div>
            }
        </div>
    </div>
</div>
